<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>{% block title %}{% endblock %}PodStreams</title>
</head>

<body>
    <div id="content">
        <div id="topBar">
            {% block navigation %}{% endblock %}
        </div>
        {% block content %}

        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="kenneth.drakesargent.com" target="_blank">
            Kenneth Drake-Sargent</a>.
        {% endblock %}
    </div>
</body>