{% extends "nav.html" %}
{% block title %}
        Add New Show --
{% endblock title %}
{% block navTitle %} Add New Show {% endblock %}
{% block content %}
<div class="crudForm">
    <form>
        <input type="text" name="title" placeholder="Show Title" required/>
        <select name="category">
            <option value="" disabled selected>Select Category</option>
            <!-- OPTIONS -->
            <option value="newCategory">New Category</option>
        </select>
        <input type="url" name="link" placeholder="Show Link"/>
        <input type="text" name="comment" placeholder="Enter your comments"/>
        <input type="button" name="cancel" value="Cancel"/>
        <input type="button" name="submit" value="Submit"/>
    </form>
</div>
{% endblock %}